.el-form--inline .el-form-item {
  margin-right: 9px;
}
.comWidth {
  width:240px;
  font-size: 15px
}
.page-box {
  margin: 10px auto;
}
.el-dialog__body {
  padding: 0px 20px;
}
.el-form-item {
  margin-bottom: 12px;
}
.el-form-item__error {
  padding-top: 0px;
}
.dialog /deep/ .dialogForm{
  height: 455px;
  overflow: auto;
}
.el-select /deep/ .el-input__inner {
  height: 32px
}
.el-main {
  padding: 10px 20px;
}
.el-date-editor .el-input__inner {
  width: 240px;
}